extends layout.pug

block content
  h2 Leave us a review!
    form(method="post" action=`/${restaurant.id}/reviews/new`)
      input(type="hidden" name="_csrf" value=csrfToken)
      label(for="review") Your review:
      textarea(id="review" name="review" value=review required)
      button(type="submit") Submit
