extends layout

//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  div(class="master-div")
    div(class="img")
    div(class="link-div")
      unless loggedInUser
        a(href="users/sign-in") Sign In
        a(href="users/register") Register
    a(href="/restaurants") View Restaurants
