extends layout

//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="master-div")
    div(class="img-banner")
    div(id="text-div")
      div
        h1 Deciding where to eat next?
        p You’re in the right place. Tell us what kinds of restaurants you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
      div
        h1 Where are your friends eating?
        p Chances are your friends are discussing their favorite (and least favorite) restaurants on goodeats.
    div.container-index
      each restaurant in restaurants
        div.content-index
          a(href=`/restaurants/${restaurant.id}`)= restaurant.name
          img(src=`${restaurant.image}`, alt="image")
          p= restaurant.description
