extends layout.pug

block content
    form(action=`/restaurants/${restaurant.id}/menu-items`, method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label Item name
        input(type="text" name="name" id=`create-name`)
        label Description
        input(type="text" name="description" id=`create-description`)
        button(type='submit' class="create-submit" id='create-submit') Create menu item

    p: a(href=`/restaurants/${restaurant.id}`)= restaurant.name
