extends layout

block content
  h1 Restaurants
  div.allRestaurantsContainer
    each restaurant in restaurants
      div.oneRestaurantContainer
        a(href=`/restaurants/${restaurant.id}`)= restaurant.name
        p= restaurant.description
