extends layout

block content
  link(rel='stylesheet' href='/stylesheets/restaurants.css')
  h1(class='restaurants-header') Restaurants
  div.allRestaurantsContainer
    each restaurant in restaurants
      div.oneRestaurantContainer
        h2(class='restaurants-h2'): a(href=`/restaurants/${restaurant.id}`)= restaurant.name
        img(src=`${restaurant.image}`, alt="image" style="width:250px")
        p(class='restaurants-p')= restaurant.description
