extends layout.pug

block content
  form(action=`/edit/${id}` method='post')
    p
    p
      input(type='text', name='title', value='')
    div(class='py-4')
      button(type='submit' class='btn btn-primary' href = `/${id}`) Edit Review
      a(href='/' class='btn btn-warning ml-2') Cancel
