extends layout.pug

block content
  div(class="review-container")
    div(class='py-4')
      p Proceed with deleting this review?
    div
      form(action=`/restaurants/${review.restaurantId}/reviews/delete/${review.id}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        button(class='submit-button' type='submit') Delete Review
        a(class="cancelfakebutton" href=`/restaurants/${review.restaurantId}/reviews` ) Cancel
