.master-div {
    display: flex;
    flex-direction: column;
}

.img {
    background-image: url(https://live.staticflickr.com/65535/50927494977_21fff584b0_h.jpg);
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
}

.link-div {
    display: flex;
    flex-direction: column;
}

div#text-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
