.master-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

#logo-pic {
    box-sizing: border-box;
    display: flex;
    height: 300px;
    width: 1000px;
    background-repeat: no-repeat;
    justify-content: center;
}

.img-banner {
    display: flex;
    justify-content:center;
    padding: 2%;
    background-color: #F4F1EA;
    margin: 2%;
}

.link-div {
    display: flex;
    flex-direction: column;
}

div#text-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #F4F1EA;
    margin: 2%;
    padding: 1%;
}

.container-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-text {
    width: 60%;
}

div.content-index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 500px;
    background: #F4F1EA;
    align-items: center;
    padding: 2%;
}


a {
    text-decoration: none;
    font-size: larger;
    padding-bottom: 15px;
}
