.create-new {
    text-decoration: none;
    text-align: center;
}

h2, p, button, label {
    font-family: Arial, Helvetica, sans-serif;
}

.single-item {
    margin: 4%;
    border: 2px solid #F4F1EA;
    background-color: #F4F1EA;;
}
.itemName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
    display: flex;
    align-items: center;
}
.itemDescription {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 1%;
}
.owner-buttons-div {
    display: flex;
    padding: 2%;
}
.edit-btn {
    margin-left: 2%;

}
.delete-btn {
    margin-left: 3%;

}
.edit-btn, .delete-btn {
    background-color: #F4F1EA;
    padding: 1%;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar-container00 {
    display: flex;
    background-color: #F4F1EA;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 20px;
}

.navbar-contents00 {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    text-decoration: none;
    padding-right: 20px;
}

.logo00 {
    font-family: Helvetica neue;
    display: flex;
    bottom: 15px;
    top: 15px;
    padding-top: 12px;
}

body > a {
    text-decoration: none;
    font-size: 20px;
}

.menu-bar {
    text-decoration: none;
}


.demo-user-btn {
    overflow: visible;
    width: auto;
}

.demo-user-btn {
    font-family: "Verdana" sans-serif;
    font-size: 1em;
    text-align: left;
    color: black;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}
