h2, p, button, label {
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    margin: 4% 0 0 5%;
}

.single-item {
    margin: 4%;
    border: 2px solid #F4F1EA;
    background-color: #F4F1EA;;
}

.itemName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
    display: flex;
    align-items: center;
}

.itemDescription {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2%;
}

.owner-buttons-div {
    display: flex;
    padding: 2%;
}

.edit-btn {
    margin-left: 2%;
    height: 50px;

}

.delete-btn {
    margin-left: 3%;
    height: 50px;
}

.edit-btn, .delete-btn {
    /* background-color: #F4F1EA; */
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
.hidden-form {
    display: flex;
}
.hidden-div {
    display: flex;
    flex-direction: row;

}

.edit-item-field-div {
    display: inline;
    padding-left: 10%;
}
.edit-item-field {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1%;
}
.edit-item-description-div {
    padding-left: 1%;
}
.edit-item-description {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1%;
    display: inline;
}
.edit-submit {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    height: 40px;
    border-radius: 5px;
}
.create-new {
    text-decoration: none;
    text-align: center;
}

.create-new-button {
    margin: 0 0 2% 5%;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.restaurant-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
    padding-left: 5%;
    padding-bottom: 2.5%;
}
