* {
    box-sizing: border-box;
}

.form_container_sign_in {
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.header_sign_in {
    margin-bottom: 10px;
    text-align: cener;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.username_sign_in {
    margin-bottom: 14px;
}

#username_labal_sign_in {
    color: #1E1915;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    cursor: default;
}

#username_input_sign_in {
    background-color: #fafafa;
    height: 36px;
    padding: 0.4em 0.8em;
    line-height: 23px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 24px;
    box-shadow: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    transition: all .1s linear;
    font-family: Arial, Helvetica, sans-serif;
    color: #1E1915;
    margin: 0;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    appearance: auto;
    cursor: text;
}

.password_sign_in {
    margin-bottom: 14px;
}

#password_label_sign_in {
    color: #1E1915;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

#password_input_sign_in {
    background-color: #fafafa;
    height: 36px;
    padding: 0.4em 0.8em;
    line-height: 23px;
    font-size: 16px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 24px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last_section_sign_in {
    margin-bottom: 26px;
}

#button_sign_in {
    background: #1E1915;
    color: #fff;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    height: 36px;
    padding: 0.4em 0.8em;
    line-height: 23px;
    font-size: 16px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    box-shadow: none;
    margin-left: 31%;
}

.message_sign_in {
    display: inline;
}

.sign-in-error {
    margin-bottom: 14px;
    color: #1E1915
}
